/target
dist
node_modules
.env

# Ignore everything
**

# ... except for dependencies and source
# Rust
!playday*/
!Cargo.toml
!Cargo.lock
!diesel.toml
!migrations

# Frontend
!package.json
!package-lock.json
!postcss.config.js
!tailwind.config.js
!webpack.config.js
