[Unit]
Description=Service for blog.smurfpandey.me
After=docker.service postgres.service
Requires=docker.service postgres.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory={{ app_directory }}
ExecStart={{ docker_compose_binary }} up -d
ExecStop={{ docker_compose_binary }} stop
ExecReload={{ docker_compose_binary }} restart

[Install]
WantedBy=multi-user.target
